// 本代码由 S7_SCL_SRC_GEN 自动生成。author: goosy.jo@gmail.com
// 配置文件: {{gcl.file}}
// 摘要: {{gcl.MD5}}
{{if includes}}
  {{_includes}}
{{endif}}_
{{for LC in list}}_
  {{_if LC.DB}}
// Limit_Proc 背景块：{{LC.comment}}
DATA_BLOCK {{LC.DB.value}}
    {{_if platform == 'portal'}}_
{ S7_Optimized_Access := 'FALSE' }
    {{_endif // portal}}_
AUTHOR : Goosy
FAMILY : GooLib
"{{NAME}}"
BEGIN
    enable_HH := {{LC.$enable_HH}};
    enable_H := {{LC.$enable_H}};
    enable_L := {{LC.$enable_L}};
    enable_LL := {{LC.$enable_LL}};
    {{_if LC.$zero !== undefined}}_
    zero := {{LC.$zero}};
    {{_endif}}_
    {{_if LC.$span !== undefined}}_
    span := {{LC.$span}};
    {{_endif}}_
    {{_if LC.$HH_limit != null}}_
    HH_limit := {{LC.$HH_limit}};
    {{_endif}}_
    {{_if LC.$H_limit != null}}_
    H_limit := {{LC.$H_limit}};
    {{_endif}}_
    {{_if LC.$L_limit != null}}_
    L_limit := {{LC.$L_limit}};
    {{_endif}}_
    {{_if LC.$LL_limit != null}}_
    LL_limit := {{LC.$LL_limit}};
    {{_endif}}_
    {{_if LC.$dead_zone != null}}_
    dead_zone := {{LC.$dead_zone}};
    {{_endif}}_
    {{_if LC.$FT_time != null}}_
    FT_time := {{LC.$FT_time.DINT}};
    {{_endif}}_
END_DATA_BLOCK
  {{_endif // LC.DB}}_
{{endfor // LC}}

// 主循环调用
FUNCTION "{{LOOP_NAME}}" : VOID
{{if platform == 'portal'}}_
{ S7_Optimized_Access := 'TRUE' }
VERSION : 0.1
{{endif // platform}}_
BEGIN
{{if loop_begin}}_
  {{_loop_begin}}
  {{_// 空行}}
{{endif}}_
{{for LC in list}}_
  {{_if LC.DB}}_
    {{_if platform == 'step7' || platform == 'pcs7'}}_
"{{NAME}}".{{// 非博途平台必须有FB块名}}_
    {{_endif // platform}}_
{{LC.DB.value}}({{LC.input_paras}}); {{}}_
  {{_endif // LC.DB}}// {{LC.comment}}
{{endfor // LC}}_
{{if loop_end}}
  {{_loop_end}}
{{endif}}_
END_FUNCTION
